@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');/* Import da fonte padrão */

* {/*Definição de parâmetros padrão */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: none;
  font-family: "Roboto";
}
.texto_pequeno{
    margin-top: 0;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
}
.SliderFiltro{
    display: none;
    transition: 100ms ease-in-out;
}
.filtros{
    width: 25%;
    min-height: 1000px;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0476D9;
    color: white;
    padding: 10px;
    margin-right: 50px;
    border-radius: 1rem;
    transition: 100ms ease-in-out;
}
.titulofiltro{
    margin: 10px;
}
/*Estilo do filtro de categoria*/
.variados{
    height: 20%;
    margin: 10px;
    transition: 100ms ease-in-out;
}
/*Estilo do filtro de inclusivos*/
.inclusivos{
    height: 30%;
    transition: 100ms ease-in-out;
}

/*Ajusta a posição vertical dos checkboxes*/
.formFiltro{
    display: flex;
    width: 16vw;
}
.formItem{
    display: flex;
    align-items: center;
    padding: 5px;
}
.formFiltro input[type="checkbox"],.formFiltro input[type="radio"]{
    align-items: center;
}
/*Estilo dos títulos de filtro*/
.tituloVariados, .tituloInclusivos, .tituloCategorias{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}
.categorias{
    margin-top: 5px;
}
.iconeVariados img, .iconeInclusivos img, .iconeCategorias img{
    height: 30px;
    width: 30px;
}
.textoVariados, .textoInclusivos,.textoCategorias{
    font-size: 2rem;
    font-weight: bolder;
}
/* Esconde o checkbox */
.formFiltro input[type="checkbox"],.formFiltro input[type="radio"]{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: transparent;
    border: 5px solid white;
    width: 30px;
    height: 30px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.1s ease, border 0.1s ease;
}
/* Checkbox selecionado */
.formFiltro input[type="checkbox"]:checked, .formFiltro input[type="radio"]:checked{
    background-color: white;
    border: 2px solid white;
    transform: scale(0.8);
}
.formFiltro input[type="checkbox"]{
    border-radius: 20%;
    height: 30px;
    width: 30px;
}
.formFiltro input[type="radio"]{
    border-radius: 100%;
}
/* Hover do checkbox */
input[type="checkbox"]:hover {
    border-color: lightgray;
}
.faixaPreco{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}
.inputPreco{
    width: 40%;
    height: 50px;
    border-radius: 20px;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    border: none;
}
label{
    font-size: 20px;
    margin-left: 5px;
    font-weight: bold;
}
#prev-button, #next-button { 
    background: none;
    border: none;
    display: none;
}

#prev-button img, #next-button img { 
    width: 50px;
    height: 50px;
}

#prev-button img {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
/*Estilo da caixa de produtos*/
.caixaprodutos{
    width: 75%;
    min-height: 80vh;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
.tituloProdutos{
    font-weight: bolder;
}
.produtos{
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    min-height: 70vh;
    height: fit-content;
}
.card{
    margin: 10px;
        margin-left: 5px;
        margin-right: 5px;
}
.vermais{
    height: 10%;
    width: auto;
}
.btn-vermais{
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    background-color: #0476D9;
    padding: 10px;
    width: 200px;
    transition: 100ms ease-in-out;
}
.btn-vermais:hover{/* Hover do botão de ver mais */
    transform: translateY(-3px);
  }
.btn-vermais:active{ /* Click do botão de ver mais */
      transform: translateY(2px);
      filter: brightness(0.8);
  }
  .containerCatalogo {/* Container de todo conteúdo*/
    width: 100%;
    height: fit-content;
    min-height: 80vh;
    display: flex; 
    margin: 0px;
    max-width: 1536px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  
  /* 2xl */
  @media (max-width: 1536px) {
    .containerCatalogo {
        width: 100%;
        height: fit-content;
        min-height: 80vh;
        display: flex;
        margin: 0px;
        max-width: 1280px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
      }
    .card{
        margin: 10px;
        margin-left: 5px;
        margin-right: 5px;
    }
  }
  
  /* xl */
  @media (max-width: 1280px) {
    .containerCatalogo {
        width: 100%;
        height: fit-content;
        min-height: 80vh;
        display: flex;
        margin: 0px;
        max-width: 1024px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
      }
    .card{
        margin: 10px;
        margin-left: 5px;
        margin-right: 5px;
    }
    .filtros{
        margin-right: 0px;
    }
    .inclusivos{
        margin-top: 20px;
    }
    .categorias{
        margin-top: 20px;
    }
  }
  /* lg */
  @media (max-width: 1024px) {
    .containerCatalogo {
        width: 100%;
        height: fit-content;
        min-height: 80vh;
        display: flex;
        margin: 0px;
        max-width: 768px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
      }
    .filtros{
        display: flex;
        width: 100%;
        min-height: 100px;
        max-height: fit-content;
        justify-content: space-evenly;
        flex-direction: row;
        margin-right: 0;
        margin-bottom: 20px;
    }
    .titulofiltro{
        margin: 10px;
    }
    /*Estilo do filtro de categoria*/
    .variados{
        display: none;
        width: 50%;
        margin: 0;
    }
    /*Estilo do filtro de inclusivos*/
    .inclusivos{
        width: 50%;
        height: auto;
        margin: 0;
    }
    /*Estilo do filtro de categoria*/
    .categorias{
        width: 50%;
        margin: 0;
    }
    /*Ajusta a posição vertical dos checkboxes*/
    .formFiltro{
        display: flex;
        width: 100%;
    }
    .formFiltro.hidden {
        display: none;
    }
    .hidden{
        display: none;
    }
    #prev-button img,#next-button img,#prev-button,#next-button{ 
        display: block;
    }
    #prev-button:active,#next-button:active{
        transform: translateY(2px);
      filter: brightness(0.8);
    }
    #itemSlider1 {
        display: block;
    }
    #itemSlider2, #itemSlider3 {
        display: none;
    }
    .containerCatalogo{
        justify-content: center;
        flex-direction: column;
    }
    .caixaprodutos{
        width: 100%;
    }
    .card{

        margin: 10px;
        margin-left: 5px;
        margin-right: 5px;
    }
    
  }
  
  /* md */
  @media (max-width: 768px) {
    .containerCatalogo {
        width: 100%;
        height: fit-content;
        min-height: 80vh;
        display: flex;
        margin: 0px;
        max-width: 640px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
      }
  }
  
  /* sm */
  @media (max-width: 640px) {
    .containerCatalogo {
        width: 100%;
        height: fit-content;
        min-height: 80vh;
        display: flex;
        margin: 0px;
        max-width: 475px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
      }
  }
  
  /* xs */
  @media (max-width: 475px) {
    .containerCatalogo {
        width: 100%;
        height: fit-content;
        min-height: 80vh;
        display: flex;
        margin: 0px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
      }
      #prev-button img, #next-button img {
        width: 20px;
        height: 20px;
    }
    h1{
        font-size: 1.5rem;
    }
  }