@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');/* Import da fonte padrão */

* {/*Definição de parâmetros padrão */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: none;
  font-family: "Roboto";
}
.container {/* Container de todo conteúdo do form e logo*/
    width: 100%;
    height: fit-content;
    min-height: 80vh;
    padding: 10px;
    display: flex;
    align-items: center;
  }
.form {/* Container do form */
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.logo {/* Container da logo */
    width: 35%;
    display: flex;
    justify-content: space-evenly;
}
@media (max-width: 1024px) {/* Desaparecer a logo quando a página for maior que 1024px */
  .logo {
    display: none;
  }
}
.imglogo{/* Tamanho da imagem da logo */
    width: fit-content;
    height: 20rem;
}
.contatoTitle{ /* Título do contato */
  font-weight: bolder;
}
.zapimg{ /* Tamanho da imagem do Whatsapp */
  width: 3rem;
  height: 3rem;
}
.zapbutton{ /*Estilo do botão do Whatsapp */
    padding: 10px;
  padding-left: 20px;
  width: 12rem;
  height: 4rem;
  border-color: #0476D9;
  border-width: 2px;
  background-color: #52CE5F;
  border-radius: 15px;
  margin: 10px;
  resize: none;
  font-weight: bolder;
  display: flex;
  align-items:center;
  justify-content: space-evenly;
  transition: 300ms ease-in-out;
  color: white;
}
.formInput {/* Estilo dos campos do form*/
  padding: 10px;
  padding-left: 20px;
  width: 100%;
  border-color: #0476D9;
  border-width: 2px;
  background-color: #ffffff;
  border-radius: 15px;
  margin: 10px;
  resize: none;
  font-weight: bolder;
  transition: 300ms ease-in-out;
}
.formInput input{/* Estilo das caixas de entrada(sem ser a área de texto) */
  height: 2rem;
}
.formInput input:focus{
  filter: brightness(0.8);
}
.btn-submit{/* Estilo do botão de submit */
  padding: 10px;
  width: 10rem;
  border:none;
  background-color: #F2AF00;
  border-radius: 15px;
  margin: 10px;
  font-weight: bolder;
  font-size: 15px;
  transition: 100ms ease-in-out;
}
.btn-submit:hover{/* Hover do botão de submit */
  transform: translateY(-3px);
}
.btn-submit:active{ /* Click do botão de submit */
    transform: translateY(2px);
    filter: brightness(0.8);
}