@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');/* Import da fonte padrão */

* {/*Definição de parâmetros padrão */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: none;
  font-family: "Roboto";
}
.background{
  width: auto;
  height: auto;
  overflow: hidden;
  position: relative;
  background-image: url(/imagens/backgrounds/Background2.svg);
  background-size: cover;
}
.container {/* Container de todo conteúdo do form e logo*/
    width: 100%;
    height: fit-content;
    min-height: 80vh;
    padding: 10px;
    display: flex;
    position: relative;
    align-items: center;
  }
.form {/* Container do form */
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.logo {/* Container da logo */
    width: 35%;
    display: flex;
    justify-content: space-evenly;
    transition: 300ms ease-in-out;
}
@media (max-width: 1270px) {/* Desaparecer a logo e o plano de fundo quando a página for maior que 1270px */
  .logo {
    display: none;
    transition: 300ms ease-in-out;
  }
.background{
  background-image: none;
}
}
.imglogo{/* Tamanho da imagem da logo */
    width: fit-content;
    height:30rem;
}
.contatoTitle{ /* Título do contato */
  font-weight: bolder;
}
.zapimg{ /* Tamanho da imagem do Whatsapp */
  width: 3rem;
  height: 3rem;
}
.zapbutton{ /*Estilo do botão do Whatsapp */
    padding: 10px;
  padding-left: 20px;
  width: 12rem;
  height: 4rem;
  border-color: #0476D9;
  border-width: 2px;
  background-color: #52CE5F;
  border-radius: 15px;
  margin: 10px;
  resize: none;
  font-weight: bolder;
  display: flex;
  align-items:center;
  justify-content: space-evenly;
  transition: 300ms ease-in-out;
  color: white;
}
.formInput {/* Estilo dos campos do form*/
  padding: 10px;
  padding-left: 20px;
  width: 100%;
  border-color: #0476D9;
  border-width: 2px;
  background-color: #ffffff;
  border-radius: 15px;
  margin: 10px;
  resize: none;
  font-weight: bolder;
  transition: 300ms ease-in-out;
}
.formInput input{/* Estilo das caixas de entrada(sem ser a área de texto) */
  height: 2rem;
}
.formInput input:focus{
  filter: brightness(0.8);
}
.btn-submit{/* Estilo do botão de submit */
  padding: 10px;
  width: 10rem;
  border:none;
  background-color: #F2AF00;
  border-radius: 15px;
  margin: 10px;
  font-weight: bolder;
  font-size: 15px;
  transition: 100ms ease-in-out;
}
.btn-submit:hover{/* Hover do botão de submit */
  transform: translateY(-3px);
}
.btn-submit:active{ /* Click do botão de submit */
    transform: translateY(2px);
    filter: brightness(0.8);
}

/* CSS DO HEADER */

div.corpo{ /*Basicamente so serve para dar cor pro fundo header*/
  width: 100%;
    background-color: #0476D9;
    margin: 0px;
    padding: 0px;
  }
  
  div.header{ /*Div que contem o conteudo do header*/
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  
  input[type=text] { /*Barra de pesquisa*/
    width: 6rem;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url("../imagens/Header/Lupa.png");
    background-position: 97% 50%; 
    background-size: 2rem;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 20px;
    border: none;
    height: 2rem;
    width: 27rem;
    border-radius: 20px;
  }
  
  input.pesquisa::placeholder{
    color: #33363F;
    font-size: 1.1rem;
  }
  
  input:focus {
    outline: 0;
  }
  
  img.Logo_header{ /*Bem autoexplicativo*/
    height: 5.5rem;
    margin: .5rem;
  }
  #linki{
    text-decoration: none;
    display: flex;
    flex-direction: row;
  }
  div.link_header { /*Div que contem icon e textos dos links para outras paginas que ficam dentro do header*/
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  
  }
  img.link_header{/*Icon que fica ao lado dos links para outras páginas*/
    width: 2.9rem;
    height: 2.9rem;
    margin-right: .5rem;
  }
  
  div.textos_pequenos{/*Div que contem ops pequenos textos que ficam ao lado dos icons no header*/
    display: flex;
    justify-content: space-between;
    gap: 0.4rem;  
    
  }
  
  p.pequeno{/*Texto pequeno que vão ao lado do icon no header*/
  
    color: white;
  }
  
  p.negrito{
    
    font-weight: bold;
  }
  
  /*Responsividade*/
  .container {
    max-width: 1425px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
  
  /* 2xl */
  @media (max-width: 1536px) {
    .container {
      max-width: 1280px;
    }
  }
  
  /* xl */
  @media (max-width: 1280px) {
    .container {
      max-width: 1024px;
    }
  }
  
  /* lg */
  @media (max-width: 1024px) {
    .container {
      max-width: 768px;
    }
  }
  
  /* md */
  @media (max-width: 768px) {
    .container {
      max-width: 640px;
    }
  }
  
  /* sm */
  @media (max-width: 640px) {
    .container {
      max-width: 475px;
    }
  }
  
  /* xs */
  @media (max-width: 475px) {
    .container {
      width: 100%;
    }
  }
  
  /* FIM DO CSS DO HEADER */