@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: none;
  font-family: "Roboto";
}
.container {
    width: 100%;
    height: fit-content;
    min-height: 80vh;
    padding: 10px;
    display: flex;
    align-items: center;
  }
.form {
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.logo {
    width: 35%;
    display: flex;
    justify-content: space-evenly;
}
.imglogo{
    width: fit-content;
    height: 20rem;
}
.contatoTitle{
  font-weight: bolder;
}
.zapimg{
  width: 3rem;
  height: 3rem;
}
.zapbutton{
    padding: 10px;
  padding-left: 20px;
  width: 12rem;
  height: 4rem;
  border-color: #0476D9;
  border-width: 2px;
  background-color: #52CE5F;
  border-radius: 15px;
  margin: 10px;
  resize: none;
  font-weight: bolder;
  display: flex;
  align-items:center;
  justify-content: space-evenly;
  transition: 300ms ease-in-out;
  color: white;
}
.formInput {
  padding: 10px;
  padding-left: 20px;
  width: 100%;
  border-color: #0476D9;
  border-width: 2px;
  background-color: #ffffff;
  border-radius: 15px;
  margin: 10px;
  resize: none;
  font-weight: bolder;
  transition: 300ms ease-in-out;
}
.formInput input{
  height: 2rem;
}
.formInput input:focus{
  filter: brightness(0.8);
}
.btn-submit{
  padding: 10px;
  width: 10rem;
  border:none;
  background-color: #F2AF00;
  border-radius: 15px;
  margin: 10px;
  font-weight: bolder;
  font-size: 15px;
  transition: 100ms ease-in-out;
}
.btn-submit:hover{
  transform: translateY(-5px);
}
.btn-submit:active{
    transform: translateY(3px);
    filter: brightness(0.8);
}