*{/*Zerar valores e aplicar fonte padrão (Roboto)*/
  background-color: none;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

/*Inicio CSS Carrossel*/
 img#grande{ /*Imagens do carrossel (maior)*/
    display: block;
    width: 100%;
    height: 20rem;
    object-fit: cover;
}

.swiper-pagination-bullet { /*Muda cor e tamanho das bolinhas de paginação do carrossel*/
    opacity: 0.25;
    background-color: black;
    width: .75rem;
    height: .75rem;
    margin: .5rem;
}

.swiper-pagination-bullet-active { /*Muda cor da bolinha ativa*/
    background-color: #0476D9;
    opacity: 1;
}

/*Mudando cor das setinhas*/
.swiper-button-prev {
    color: #0476D9;

}
.swiper-button-next {
    color: #0476D9;
}
/*Fim CSS do Carrossel*/



/* Inicio CSS do card*/
div.card{
    width: 17.5rem;
    height: 27.5rem;
    border: solid #D9D9D9 4px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
}

.foto_card { /*Classe da imagem do card*/
    width: 15rem;
    height: 15rem;
    margin: 1rem;
    object-fit: contain;
}

div.imagem_card{ /*div que contem a imagem do card*/
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

h4.titulo_card{
    margin: 0px;
    margin-left: 5px;
    font-size: 1.43rem;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.texto_pequeno { /*aquele "por apenas" em baixo do titulo*/
    margin: 0px;
    margin-left: 5px;
    margin-top: .75rem;
    font-weight: 550;
    color: #4A4A4A;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h3.preco{
    margin:0px;
    margin-left: 5px;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #F2AF00;
    font-size: 2rem;
}

button.card{ /*Botão de comprar no card*/
    width: 16rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: .75rem;
    display: flex;
    align-items: center;
    padding: .3rem;
    border-radius: 10px;
    background-color: #F2AF00;
    border: #F2AF00;
    padding: .5rem;
    justify-content: center;
}

img.botao_card { /*icon de carrinho no botão do card*/
    height: 2.25rem;
    width: 2.25rem;

}

p.botao_card{
    font-weight: 600;
    font-size: 1.25rem;
    padding-left: .5rem;
    margin: 0px;
}

div.imagem_card{ /*Div que contem imagens e selos de cards*/
  position: relative;
}

img.selo_deficiencia{ /*Selos que indicam que o produto é adaptado à pessoas com algum tipo de condição especia*/
  position: absolute;
  bottom: 8px;
  right: 16px;
  width: 4rem;
}

img.selo_desconto{
  position: absolute;
  bottom: 8px;
  left: 16px;
  width: 4rem;
}
/*Fim CSS card*/

/*Inicio CSS product slider 1*/
div.product{ /* Div dos produtos*/
  margin: 2rem;
}

/*Inicio CSS product slider 2*/
div.product2{ /* Div dos produtos*/
  margin: 2rem;
}

div.slider{ /* Div que contem o slider*/
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

div.seta{ /*setinhas*/
  position: relative;
}

h1.titulo{
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3.5rem;
  font-size: 2.5rem;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/*Fim CSS product slider*/

/*Inicio CSS das imagens promocionais*/
img.imagem_promocional{
  width: 22rem;
  border-radius: 30px;
  object-fit: cover;
  height: 27.5rem;
}

div.promocionais{
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 4.5rem;
  margin-bottom: 4.5rem;
}
/*Fim das imagens promcionais*/

/*Responsividade*/
.container {
  max-width: 1425px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

/* 2xl */
@media (max-width: 1536px) {
  .container {
    max-width: 1280px;
  }
}

/* xl */
@media (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }
  h4.titulo_card{
    font-size: 1.3rem;
}
button.card{ /*Botão de comprar no card*/
  width: 14rem;
}
h3.preco{
  font-size: 2rem;
}
img.imagem_promocional{
  width: 20rem;
  height: 25.5rem;
}

}

/* lg */
@media (max-width: 1024px) {
  .container {
    max-width: 768px;
  }
}

/* md */
@media (max-width: 768px) {
  .container {
    max-width: 640px;
  }
}

/* sm */
@media (max-width: 640px) {
  .container {
    max-width: 475px;
  }
}

/* xs */
@media (max-width: 475px) {
  .container {
    width: 100%;
  }
}