* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;    
    background-image: url(../imagens/backgrounds/fundo01.png); /* caminho da img de fundo */
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;

}
/* as coisas q eu apliquei no body podem ser removidas e aplicadas
   na tag main (tirando a margin), mas sinceramente n sei qual seria 
   melhor tanto pra responsividade quanto pra padronização das 
   páginas e pra facilidade de modificação no futuro. no futuro mudamos*/

.loginn {
    background-color: #ffffff;
    border-radius: 20px;
    width: 510px;
    height: 500px;
    padding: 0;
    box-sizing: border-box;
}

.loginn img {
    display: block;
    width: 55%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.form-login {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-login {
    width: 75%;
    height: 45px;
    padding: 12px;
    margin-bottom: 15px;
    border: 2px solid #0476D9;
    border-radius: 15px;
    color: rgb(88, 88, 88);
    font-size: 16px;
    box-sizing: border-box; /* Inclui o padding no tamanho total da input */
    font-family: 'Roboto', sans-serif;
    outline: none;
}
.input-login + .input-login {
    margin-bottom: 30px;
}

.input-login::placeholder {
    color: sinceramente(#303030);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}
.botao-entrar {
    width: 35%;
    height: 40px;
    border: none;
    border-radius: 15px;
    background-color: #F2AF00;
    color: #000000;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    line-height: 2.5;
    margin-bottom: 15px;
}
.botao-cadastrar {
    width: 35%;
    height: 40px;
    border: none;
    border-radius: 15px;
    background-color: #F2AF00;
    color: #000000;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    line-height: 2.5;
    text-decoration: none;
}