* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;
} 
#navbar-conta {
    position: absolute;
    height: 100%;
    width: 310px;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    left: 1%;
    top: -8%;
    margin-left: 5%;
}
.lateral-conta {
    display: flex;
    flex-direction: row;
    align-items: center;    
    margin-bottom: 20px;
    width: 100%;
}
.img-lateral {
    width: 95px;
    height: 95px;
    object-fit: cover;  
    border-radius: 100px;
    border: solid #F2AF00 3px;
}
.nome-lateral {
    font-size: 24px;
    font-weight: 500;
    padding: 15px;
    flex-wrap: wrap;
    width: 220px;
}
#navbar-conta a {
    text-decoration: none;
    color: black;
    cursor: pointer;
    margin-top: 15px;
}
.pagina-selecionada{
    font-weight: 500;
}
.paginas {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 85%;
    padding: 10px;
    font-size: 21px;
}
#box{
    position: absolute;
    right: 2.5%;
    top: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #0476D9;
    width: 840px;
    height: 480px;
    border-radius: 20px;
}
#box h1 {
    position: relative;
    color: white;
    font-size: 36px;
    font-family: 'Arial';
    padding: 15px;
}   
#pedidos {
    margin-top: 0;
    position: relative;
    bottom: 2%;
    background-color: white;
    width: 95%;
    height: 85%;
    padding-left: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;

}
.informacoes {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    font-size: 17px;
    white-space: nowrap;
    margin-left: -20px;
    overflow-y: auto;
}
.informacoes div {
    margin-top: 8px;
}
.produto {
    width: auto;
    height: 140px;
    margin-left: -10px;
    margin-right: -10px;
    display: flex;
    align-items:center;
    flex-direction: row;
    font-size: 18px;
    border: solid #0476D9 2px;
    gap: 25px;
}
.produto + .produto {
    border-top: none;
    border-bottom: none;
}
.produto-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.produto-imagem {
    width: 130px;
    height: 130px;
    object-fit: cover;
    margin-left: 30px;
}
.produto-nome, .produto-quantidade, .produto-data, .produto-valor {
    font-size: 17px;
    font-weight: 500;
    flex: 1;
    text-align: center;
}
.produto-nome {
    width: 20%;
    white-space: wrap;
}
#carrinho-legenda {
    display: flex;
    justify-content: space-around;
    font-weight: 500;
    margin-bottom: 10px;
    margin-top: 20px;
    width: 100%;
    text-align: center;
}
.legenda-foto, .legenda-nome, .legenda-qntd, .legenda-data, .legenda-valor {
    flex: 1;
}
/* coisas da barra de scroll */
::-webkit-scrollbar {
    width: 5px;
    height: 0px; /* 0 pra n ter barra de rolagem horizontal */
    background: transparent;
    background-color: #F2AF00;
    border-radius: 100px;
    border: solid white 1px;
}