*{/*Zerar valores e aplicar fonte padrão (Roboto)*/
  background-color: none;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

div.produto{/*Div que contem as fotos e a descrição do produto*/
  display: flex;
}

div.detalhes{
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem;
  padding-right: 2rem;
  max-width: 650px;
}

div.imagens_menores{/*Imagens menores do produto*/
  display: flex;
  flex-direction: column;
  margin-right: 1.5rem;
}

img.imagem_menor{/*Imagem menor do produto*/
  width: 7.5rem;
  border-radius: 25px;
  border:#D4D4D4 solid 2px;
  margin-bottom: 1rem;
}

img.imagem_maior{/*Imagem maior do produto*/
  width: 30rem;
  height: 30rem;
  border-radius: 25px;
  border:#D4D4D4 solid 2px;
}

div.estrela{/*Div que contem as estrelas de avaliações*/
  display: flex;
}

div.avaliacoes{ /*Div que contem o numero de avialações e estrelas*/
  align-items: center;
  display: flex;
  margin: 0;
  margin-top: .75rem;
}

p.avaliacao{ /*Texto que fica ao lado das estrelas de avaliação*/
  color: #F2AF00;
  font-weight: bold;
  font-size: 1.4rem;
  margin: 0;
}

h3.titulo{ /*Nome do produto*/
  font-size: 2.25rem;
  margin: 0;
}

h2.preco{ /*Preço do produto*/
  color: #0476D9;
  margin: 0;
  font-size: 2.75rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

p.descricao{ /*Descrição do produto*/
  font-size: 20px;
  margin-top: 1rem;
  margin: 0;
}

p.quantidade{ /*Literalmente a palavra quantidade em cima do negocio de escolher quantidade*/
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  margin-top: 1rem;
  margin-bottom: .25rem;
}

button.comprar{ /*Botão de comprar*/
  border: none;
  border-radius: 20px;
  background-color: #0476D9;
  padding: .5rem;
  margin-top: 1rem;
}

p.comprar{ /*Texto dentro do botão de comprar*/
  color: white;
  font-size: 1.5rem;
  padding: 0;
  margin: 0;
}

button.carrinho{ /*Botão de adoiconar ao carrinho*/
  border: none;
  border-radius: 20px;
  background-color: #F2AF00;
  padding: .5rem;
  margin-top: 1rem;
}

p.carrinho{ /*Texto dentro do botão de adicioanar ao carrinho*/
  color: black;
  font-size: 1.5rem;
  padding: 0;
  margin: 0;
}

  /*Css doido para fazer um botão igual o do figma*/
  input[type="number"]{
    -moz-appearance: textfield;
    text-align: center;
    font-size: 2rem;
    border: none;
    background-color: #ffffff;
    color: #202030;
    font-weight: bolder;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}
button.quantidade{
    color: #3264fe;
    background-color: #ffffff;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    font-weight: bolder;
}
#decrement{
    padding: .5rem;
    border-radius: 25px 0 0 25px;
}
#increment{
    padding: .5rem;
    border-radius: 0 25px 25px 0;
}

div.quantidade{
  display: flex;
  border-radius: 10px;
  border: #D4D4D4 2px solid;
  width: fit-content;
}
/*Fim do CSS doido*/

/*Inicio CSS avalições*/
div.avaliacao{
  display: flex;
  width: fit-content;
  padding: 1rem;
}

div.estatisticas{/*Parte que mostra a porcentagem de cada tipo de avaliação*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: #D4D4D4 solid 3px;
  border-radius: 15px;
  height: fit-content;
  padding: 1rem;
}

h3.estatisticas{ /*Titulo "Estatisticas"*/
  margin:0;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

div.cinco, div.quatro, div.tres, div.dois, div.um{ /*Dic que inculuem texto de procentagem e de número de estrelas, além do grafico referente a cada um*/
  display: flex;
  max-height: 2rem;
  align-items: center;
  margin-bottom: 1rem;
}

p.numero_estrelas, p.porcentagem{ /*Textos do número de estrelas e de porcentagem*/
  color: #F2AF00;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
}

div.amarelo{ /*Div vazio que compões a parte amarela do gráfico de barra*/
  color: #F2AF00;
  border: solid 3px #F2AF00;
  margin-left: 1rem;
  height: 1.25rem;
  border-radius: 15px 0px 0px 15px;
  background-color: #F2AF00;
}

div.branco{ /*Div vazio que compões a parte branca do gráfico de barra*/
  border: solid 3px #F2AF00;
  margin-right: 1rem;
  height: 1.25rem;
  border-radius: 0px 15px 15px 0px;
}

div.card_avaliacao{ /*Div que contem as avaliações em si*/
  display: flex;
  align-items: center;
}

div.nome_avaliacao{/*Nome do perfil do avaliador*/
  display: flex;
  align-items: center;
}

img.foto_perfil{ /*Foto de perfil do usuario no card de avalição*/
  width: 5.75rem;
  height: 5.75rem;
  border: 1px solid black;
  border-radius: 50px;
}

h5.nome{ /*Nome do perfil*/
  font-size: 2.25rem;
  margin: 0;
}

p.titulo_avaliacao{/*Titulo da avaliação*/
  font-weight: bold;
  font-size: 2rem;
  margin: 0;
}

p.texto_avaliacao{/*O texto da avalição*/
  font-size: 1.5rem;
  margin: 0;
}

/*Fim CSS avaçliações*/

/*Responsividade*/
.container {
  max-width: 1425px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

/* 2xl */
@media (max-width: 1536px) {
  .container {
    max-width: 1280px;
  }
}

/* xl */
@media (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }
}

/* lg */
@media (max-width: 1024px) {
  .container {
    max-width: 768px;
  }
}

/* md */
@media (max-width: 768px) {
  .container {
    max-width: 640px;
  }
}

/* sm */
@media (max-width: 640px) {
  .container {
    max-width: 475px;
  }
}

/* xs */
@media (max-width: 475px) {
  .container {
    width: 100%;
  }
}








/* Inicio CSS do card*/
div.card{
  width: 17.5rem;
  height: 27.5rem;
  border: solid #D9D9D9 4px;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
}

.foto_card { /*Classe da imagem do card*/
  width: 15rem;
  height: 15rem;
  margin: 1rem;
  object-fit: contain;
}

div.imagem_card{ /*div que contem a imagem do card*/
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

h4.titulo_card{
  margin: 0px;
  margin-left: 5px;
  font-size: 1.43rem;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.texto_pequeno { /*aquele "por apenas" em baixo do titulo*/
  margin: 0px;
  margin-left: 5px;
  margin-top: .75rem;
  font-weight: 550;
  color: #4A4A4A;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h3.preco{
  margin:0px;
  margin-left: 5px;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #F2AF00;
  font-size: 2rem;
}

button.card{ /*Botão de comprar no card*/
  width: 16rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: .75rem;
  display: flex;
  align-items: center;
  padding: .3rem;
  border-radius: 10px;
  background-color: #F2AF00;
  border: #F2AF00;
  padding: .5rem;
  justify-content: center;
}

img.botao_card { /*icon de carrinho no botão do card*/
  height: 2.25rem;
  width: 2.25rem;

}

p.botao_card{
  font-weight: 600;
  font-size: 1.25rem;
  padding-left: .5rem;
  margin: 0px;
}

div.imagem_card{ /*Div que contem imagens e selos de cards*/
position: relative;
}

img.selo_deficiencia{ /*Selos que indicam que o produto é adaptado à pessoas com algum tipo de condição especia*/
position: absolute;
bottom: 8px;
right: 16px;
width: 4rem;
}

img.selo_desconto{
position: absolute;
bottom: 8px;
left: 16px;
width: 4rem;
}
/*Fim CSS card*/

/*Inicio CSS product slider 1*/
div.product{ /* Div dos produtos*/
margin: 2rem;
}

div.slider{ /* Div que contem o slider*/
display: flex;
align-items: center;
width: 100%;
height: 100%;
}

div.seta{ /*setinhas*/
position: relative;
}

h1.titulo{
margin: 0;
margin-left: auto;
margin-right: auto;
margin-top: 3.5rem;
font-size: 2.5rem;
font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/*Fim CSS product slider*/

/* CSS DO HEADER */

div.corpo{ /*Basicamente so serve para dar cor pro fundo header*/
  width: 100%;
    background-color: #0476D9;
    margin: 0px;
    padding: 0px;
  }
  
  div.header{ /*Div que contem o conteudo do header*/
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  
  input[type=text] { /*Barra de pesquisa*/
    width: 6rem;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url("../imagens/Header/Lupa.png");
    background-position: 97% 50%; 
    background-size: 2rem;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 20px;
    border: none;
    height: 2rem;
    width: 27rem;
    border-radius: 20px;
  }
  
  input.pesquisa::placeholder{
    color: #33363F;
    font-size: 1.1rem;
  }
  
  input:focus {
    outline: 0;
  }
  
  img.Logo_header{ /*Bem autoexplicativo*/
    height: 5.5rem;
    margin: .5rem;
  }
  #linki{
    text-decoration: none;
    display: flex;
    flex-direction: row;
  }
  div.link_header { /*Div que contem icon e textos dos links para outras paginas que ficam dentro do header*/
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  
  }
  img.link_header{/*Icon que fica ao lado dos links para outras páginas*/
    width: 2.9rem;
    height: 2.9rem;
    margin-right: .5rem;
  }
  
  div.textos_pequenos{/*Div que contem ops pequenos textos que ficam ao lado dos icons no header*/
    display: flex;
    justify-content: space-between;
    gap: 0.4rem;  
    
  }
  
  p.pequeno{/*Texto pequeno que vão ao lado do icon no header*/
  
    color: white;
  }
  
  p.negrito{
    
    font-weight: bold;
  }
  
  /*Responsividade*/
  .container {
    max-width: 1425px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
  
  /* 2xl */
  @media (max-width: 1536px) {
    .container {
      max-width: 1280px;
    }
  }
  
  /* xl */
  @media (max-width: 1280px) {
    .container {
      max-width: 1024px;
    }
  }
  
  /* lg */
  @media (max-width: 1024px) {
    .container {
      max-width: 768px;
    }
  }
  
  /* md */
  @media (max-width: 768px) {
    .container {
      max-width: 640px;
    }
  }
  
  /* sm */
  @media (max-width: 640px) {
    .container {
      max-width: 475px;
    }
  }
  
  /* xs */
  @media (max-width: 475px) {
    .container {
      width: 100%;
    }
  }
  
  /* FIM DO CSS DO HEADER */