* {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1.titulo{ /*Titulo em cima da div que mostra os clientes*/
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 3rem;
    margin-bottom: 2.5rem;
    text-align: center;
}
div.fundo{ /*Fundo azul atrás dos clientes*/
    background-color: #0476D9;
    border-radius: 30px;
    padding: 2rem;
}

div.box_clientes{ /*Div que contem os clientes*/
    background-color: white;
    border-radius: 30px;
    max-height: 40rem;
    overflow: overlay;
}

div.titulos{ /*Titulos que mostram a qual informação o valor é relativo*/
    display: flex;
    justify-content: space-evenly;
    margin-top: 1rem;
}

p.titulo{ /*Titulo que mostra a qual informação o valor é relativo*/
    font-weight: bold;
    font-size: 1.2rem;
    width: 100%;
    text-align: center;
}

div.cliente{ /*Div que mostra as informações de um cliente*/
    display: flex;
    justify-content: space-evenly;  
    align-items: center; 
    border-bottom: solid #0476D9 2px;
    padding: 1rem 0px;
}

div.foto{ /*Div que contem a foto do cliente*/
    width: 100%;
    display: flex;
    justify-content: center;
}

img.foto { /*Foto do cliente*/ 
    width: 8rem;
    border: #4A4A4A solid 1px;
    border-radius: 100px;
}

p.informacao{ /*Textos que mostram nome, id e valor do cliente*/
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.4rem;
}

div.botao_detalhes{ /*Div que contem o botão para levar a pagina de detalhes do cliente*/
    width: 100%;
    display: flex;
    justify-content: center;
}

button.detalhes{  /*Botão para levar a pagina de detalhes do cliente*/
    width: 6rem;
    height: 2.5rem;
    background-color: #F2AF00;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    font-size: 1rem;
    transition-duration: .5s;
    transition-timing-function: linear;
}

button.detalhes:hover{
    background-color: #e2a200; 
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
}


img.adicionar{/*Icon "+"  no botão de adicionar um novo brinquedo*/
  width: 2.25rem;
  margin-left: 1rem;
}

div.acoes{
  display: flex;
  margin-top: 1rem;
  width: 100%;
}

div.pesquisar{
  display: flex;
  align-items: center;
  border: solid #0476D9 3.5px;
  border-radius: 15px;
  width: 13.5rem;
  height: 2.25rem;
  padding: .5rem;
}

input.pesquisar{
  border: none;
  height: 100%;
  outline: none;
}

img.pesquisar{
  width: 2.75rem;
  height: 2.75rem;
}

/*Responsividade*/
.container {
    max-width: 1425px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
  
  /* 2xl */
  @media (max-width: 1536px) {
    .container {
      max-width: 1280px;
    }
  }
  
  /* xl */
  @media (max-width: 1280px) {
    .container {
      max-width: 1024px;
    }
    
  }
  
  /* lg */
  @media (max-width: 1024px) {
    .container {
      max-width: 768px;
    }
    p.informacao{
        font-size: 1.1rem;
    }
  }
  
  /* md */
  @media (max-width: 768px) {
    .container {
      max-width: 700px;
    }
  
    h1.titulo{ /*Titulo em cima da div que mostra os brinquedos*/
        font-size: 2.5rem;
    }
  }
  
  /* sm */
  @media (max-width: 640px) {
    .container {
      max-width: 600px;
    }
  
  }
  
  /* sm */
  @media (max-width: 555px) {
    div.fundo{ /*Fundo azul atrás dos brinquedos*/
        padding: .75rem;
    }
    h1.titulo{ /*Titulo em cima da div que mostra os brinquedos*/
        font-size: 2rem;
    }
    div.acoes{
      flex-direction: column;
      align-items: center;
    }
    div.pesquisar{
      margin-left: 0rem;
      margin-top: 1rem;
    }
  }
  
  /* xs */
  @media (max-width: 475px) {
    .container {
      width: 100%;
      padding: 0;
    }

    p.titulo{ /*Titulo que mostra a qual informação o valor é relativo*/
        font-weight: bold;
        font-size: 1.2rem;
        width: 100%;
        text-align: center;
    }

    p.titulo{ /*Titulo que mostra a qual informação o valor é relativo*/
        font-weight: bold;
        font-size: .9rem;
        width: 100%;
        text-align: center;
    }

    p.informacao{
        font-size: .9rem;
    }
    
  }
    /* xxs */
  @media (max-width: 375px) {
    .container {
      width: 100%;
    }
  }