*{/*Zerar valores e aplicar fonte padrão (Roboto)*/
    background-color: none;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
}
.navbar-container {
    padding: 1.5rem;
    width: 35%;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.ft-nome-lateral{
    display: flex;
}
.lateral-conta { 
    display: flex;
    flex-direction: row;
    align-items: center;    
    margin-bottom: 20px;
    width: 100%;
}
.img-lateral {
    object-fit: cover;
    border-radius: 50%;
    border: solid #F2AF00 3px;
    width: 110px;
    height: 110px;
}
.nomelat-div {
    width: 100%;
    display: flex;
}
.nome-lateral {
    font-size: 1.6vw;
    font-weight: 500;
    padding-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#navbar-conta a {
    text-decoration: none;
    color: black;
    cursor: pointer;
    margin-top: 15px;
    transition: transform 0.3s ease-in-out;
}
#navbar-conta a:hover {
    transform: scale(1.15);
}
#sair {
    transition: transform 0.3s ease-in-out;
}
#sair:hover {
    transform: scale(1.15);
    color: rgb(212, 0, 0);
}
.pagina-selecionada{
    font-weight: bold;
}
.paginas-navbar, .pagina-selecionada{
    text-decoration: none;
    color: black;
    cursor: pointer;
    font-size:calc(4px + 1.3vw); /* MANO isso aqui define o tamanho minimo da fonte mas ainda sendo responsivo e é genial */
    padding-top: 5px;
}
.paginas {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 85%;
    padding: 10px;
    margin-top: 15px;
    gap: 20px;
}
#box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #0476D9;
    width: 60%;
    height: 500px;
    padding: 10px;
    border-radius: 20px;  
}
#box h1 {
    position: relative;
    color: white;
    font-size: 36px;
    font-family: 'Arial';
    padding: 15px;
}  
#perfil {
    padding: 2.2rem 1.6rem 0 1.6rem;
    position: relative;
    bottom: 2%;
    background-color: white;
    width: 99%;
    height: 85%;
    border-radius: 20px;
    display: flex;
}
.usuario-info{
    font-weight: 500;
    font-size: 18px;
    text-align: right;
    border: 2px solid #D4D4D4; 
    margin: 0;
    width: 100%;
    border-radius: 10px;
    padding: .25rem;
}
form {
    display: flex;
    flex-direction: column;
}
.informacoes {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 3px;
    font-size: 16px;
}
.informacoes button {
    height: 35px;
    width: 100%;
    max-width: 140px;
    border-radius: 50px;   
    background-color: #F2AF00;
    color: #000000;
    font-size: 18px;
    white-space: nowrap;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    padding: 10px 20px;
    cursor: pointer;
    text-decoration: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;  
    margin-top: 20px;
    transition: transform 0.2s ease-in-out;
}
.informacoes button:hover {
    transform: scale(1.1);
}
button.editar {
    height: 35px;
    width: 100%;
    max-width: 140px;
    border-radius: 50px;   
    background-color: #F2AF00;
    color: #000000;
    font-size: 18px;
    white-space: nowrap;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    padding: 10px 20px;
    cursor: pointer;
    text-decoration: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;  
    margin-top: 20px;
    transition: transform 0.2s ease-in-out;
}
button.editar:hover {
    transform: scale(1.1);
}
.info-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    width: 26rem;
}
.info-label {
    font-weight: 500;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.info-item:last-child{
    margin-bottom: 0;
}
.info-value {
    width: 220px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.conta-box {
    width: 100%;
    margin-left: 1rem;
    margin-right: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#formAtualizarSenha {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: none;
    transition: transform 0.3s ease-in-out;
}
.fade-in {
    animation: fadeIn 0.3s forwards;
}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.form-bg-senha{
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 20px;
    width: 40%;
    height: 45%;
    box-shadow: -4px 4px 20px rgba(0, 0, 0, 0.5);
}
#formEditarPerfil {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: none;
    transition: transform 0.3s ease-in-out;
}
.form-bg-perfil {
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 20px;
    width: 40%;
    height: 60%;
    box-shadow: -4px 4px 20px rgba(0, 0, 0, 0.5);
}
.img-conta {
    width: 9rem;
    height: 9rem;
    overflow: hidden;
    border-radius: 100px;
    border: solid #F2AF00 5px;
}
.botoes {
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.nome-conta {
    font-size: 1.6vw;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}
.editar-img {
    all: unset;
    display: inline-flex;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
  }
  .editar-icone {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: #F2AF00;      
    border-radius: 100%;
    padding: 1px;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}
.editar-icone img {
    width: 40px;
    height: 35px;
    object-fit: cover;
}
.editar-img:hover {
    transform: scale(1.1);
  }
  .editar-icone:hover {
    transform: scale(1.3);
}
.img-container {
    position: relative;
    display: inline-block;
}
#imagem_file{
   display: none;
}
h2.troque_senha{
    margin-top: 2rem;
    margin-bottom: 1rem;
}
h2.edite_perfil {
    margin-top: 2rem;
    margin-bottom: 1rem;
}
/* css do menu sanduíche */
.sanduiche-div{
    align-items: center;
    display: none;
    justify-content: center;
}
img.menuSanduiche { /*Imagem do icon de menu sanduiche*/
    width: 2rem;
    margin-left: .5rem;
    transition-duration: 0.2s;
}
.girar {
    transform: rotate(180deg);
}
  button.menuSanduiche{ /*Botão que abre o menu sanduiche*/
    border: transparent;
    display: none;
    background-color: transparent;
    font-size: 10px;
    font-weight: 500;
    align-items: center;
    cursor: pointer;
  }
  div.link_sanduiche{ /*Conteudo do menu sanduiche*/
    display: inherit;
  }
  div.menuSanduicheConta{ /*Div que contem os elementos que contem elementos da classe "link_sanduiche"*/
    display: none;
    align-items: center;
    overflow: hidden;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    transform: translateY(-100%);
    opacity: 0;
    visibility: hidden;
    width: 100%;
    justify-content: space-evenly;
    margin-bottom: 60px;

  }
  .open_header_conta{ /*Classe que serve para tornar o menu sanduiche visivel*/
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    overflow: hidden;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
    height: 2.6rem;
    align-items: center;
  }
  /* fim do css do menu sanduíche */


/*Responsividade*/
.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    justify-content: center;
    margin-top: 9rem;
    margin-bottom: 11rem;
}
  /* responsividade Hilario*/
  @media (min-width: 1500px) {
    #box {
        width: 1100px;
    }
    .informacoes button {
        font-size: 18px;
    }
    .info-label {
        font-size: 20px;
    }
    .usuario-info {
        font-size: 20px;
    }
    .info-item {
        width: 580px;
    }
    .info-value {
        width: 240px;
    }
}
@media (max-width: 1080px) {
    #box {
        height: 450px;
        width:  600px;
        margin-right: 10px;
    }
    .navbar-container {
        width: 200px;
        margin: 0;
        padding: 0;
    }
    .container {
        padding: 1rem 0 1rem 0;
        justify-content: space-between !important;
    }
    #perfil {
        padding: 2rem 1.4rem 0 1.4rem;
    }
    .conta-box {
        margin: 10px;
    }   
    .img-conta{
        height: 115px;
        width: 115px;
    }
    .nome-conta {
        font-size: 1.7vw;
        padding: 0;
    }
    h1.nome-lateral {
        font-size: 18px;
    }
    .info-item {
        width: 400px;
    }
    .info-label {
        font-size: 16px;
    }
    .usuario-info {
        font-size: 16px;
    }
    .informacoes button {
        font-size: 16px;
    }
    .paginas-navbar, .pagina-selecionada {
        font-size: calc(4px + 1.6vw);
      }
      .form-bg-senha{
        width: 60%;
        height: 45%;
    }
}
@media (max-width: 875px) {
      button.menuSanduiche{/*Botão que abre o menu sanduiche*/
        display: flex;
        font-size: calc(4px + 1.2vw);
      }
      .navbar-container {
        display: none;
      }
      #box {
        width: 95%;
        margin-top: .8rem;
        margin-bottom: .8rem;
        margin-right: 0;
        margin-left: 0;
      }
      .container {
        align-items: center;
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center !important;
      }
      .sanduiche-div{
        display: flex;
      }
      .info-value {
        width: 200px;
    }
      .paginas-navbar, .pagina-selecionada {
        font-size: calc(4px + 1.8vw);
        padding: 0;
      }
      .conta-box {
        width: 50%;
      }
      .info-item { 
        width: 480px;
      }
      .nome-conta {
        font-size: 2.2vw;
      }
      .info-item {
        width: 400px;
    }
    #perfil {
        padding: 1.8rem 1.2rem 0 1.2rem;
    }
}
@media (max-width: 700px) {
    #box {
        padding: 5px;
        height: 400px;
    }
    #box h1 {
        font-size: 30px;
    }
    #perfil {
        padding: 1.6rem 0 0 1rem;
    }
    .info-item {
        width: 360px;
        justify-content: space-between;
    }
    .conta-box {
        width: 200px;
        margin-left: 2%;
    }
    .info-label {
        font-size: 14px;
    }
    .usuario-info {
        font-size: 14px;
    }
    .informacoes button {
        font-size: 14px;
    }
    .img-conta {
        height: 90px;
        width: 90px;
    }
    .editar-icone img {
        width: 30px;
        height: 25px;
    }
    .info-value {
        width: 180px;
    }
    h2.nome-conta {
        font-size: 16px;
    }
}
@media (max-width: 650px) {
    .info-item {
        width: 320px;
    }
}
@media (max-width: 570px) {
    #perfil {
        flex-direction: column-reverse;
        align-items: center;
        padding: 12px;
        padding-top: 0;
        gap: 10px;
    }
    #box {
        height: 600px;
    }
    .img-conta{
        height: 100px;
        width: 100px;
    }
    .paginas-navbar, .pagina-selecionada {
        font-size: calc(4px + 2.6vw);
        padding: 0;
      }
      .form-bg-senha{
        width: 80%;
        height: 45%;
    }
}
@media (max-width: 420px) { 
    #box {
        width: 100%;
        padding: 3px;
    }
    .container {
        margin: 0;
        padding-left: 0.1rem !important;
        padding-right: 0.1rem !important;
    }
    .form-bg-senha{
        width: 95%;
        height: 45%;
    }
}
@media (max-width: 370px) {
    #perfil {
    bottom: 1%;
    width: 99%;
    height: 95%;
    gap: 25px;
    }
    #box h1 {
        font-size: 28px;
        padding: .5rem;
        padding-bottom: 1rem;
    }
    .info-value {
        width: 145px;
    }
    .info-item {
        width: 275px;
    }
    .informacoes button {
        height: 30px;
        max-width: 110px;
    }
    .botoes {
        align-items: center;
        justify-content: center;
    }
}