@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');/* Import da fonte padrão */

* { /*Definição de parâmetros padrão */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: none;
  font-family: "Roboto";
}

.footerContainer {
    background-color: #0476D9;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    width: 100%;
    margin-top: 3rem;
}

.copyright {
    font-size: smaller;
    text-align: center;
    width: 100%;
    background-color: #0260b2;
}

.footerContent {
    width: 80%;
}

.footerAnchors {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footerAnchors a {
    margin: 10px;
    color: white;
    text-decoration: none;
    transition: filter 0.3s ease;
}

.footerAnchors a:hover {
    filter: brightness(1.1);
}

.footerAnchors a:active {
    color: white;
}

.footerAnchor {
    font-weight: bold;
    color: white;
    width: 15%;
}

.footerSac, .footerSobreNos, .footerContato {
    display: flex;
    justify-content: center;
}

.footerLogo img {
    width: 100%;
    height: calc(100%/(240/95));
}

.footerLogo, .footerTelefone {
    width: 20%;
    max-width: 240px;
    max-height: 95px;
}

.footerRedes {
    display: flex;
    justify-content: center;
}

.footerRedes a img {
    width: 50px;
    height: 50px;
    margin: 10px;
    transition: filter 0.3s ease, transform 0.3s ease;
}

.footerRedes a:hover img {
    filter: brightness(1.1);
    transform: translateY(-3px);
}

@media (max-width: 1536px) {
    .container {
      max-width: 1280px;
    }
}

@media (max-width: 1280px) {
    .footerLogo {
        display: none;
    }
    .footerTelefone {
        display: none;
    }
}

@media (max-width: 1024px) {
    .container {
      max-width: 768px;
    }
    .footerAnchors {
      justify-content: space-around;
    }
    .footerAnchor {
      width: 20%;
    } 
}

@media (max-width: 768px) {
    .footerAnchors {
      justify-content: space-around;
    }
    .footerAnchor {
      width: 20%;
    }
}

@media (max-width: 640px) {
    .footerAnchors {
        font-size: smaller;
    }
    .footerAnchor {
      width: 30%;
    }
}

@media (max-width: 475px) {
    .container {
      width: 100%;
    }
    .footerAnchors a {
      margin: 5px;
    }
}
