*{/*Zerar valores e aplicar fonte padrão (Roboto)*/
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: none;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

div.corpo{ /*Basicamente so serve para dar cor pro fundo header*/
    width: 100%;
    background-color: #0476D9;
    margin: 0px;
    padding: 0px;
    height: fit-content;
}
#fundoHeader { /* Basicamente so serve para deixar o header com o tamanho certo */
    padding: 0;
}
div.header{ /*Div que contem o conteudo do header de pc e celular*/
    display: flex;
    flex-direction: column; /*Eu não sei oq eu fiz, tentando deixar o header com o menu sanduiche, mas agr pra ficar normal pra pc precisa disso ;-;*/
    align-items: center;
    justify-content: center;
    width: inherit;
    height: fit-content;
    overflow: hidden;
    transition-timing-function: ease-in;
    transition-duration: 2s;
    width: 100%;
}

div.header_normal{ /*Div que contem o conteudo do header de pc*/
  display: flex;
  align-items: center;
  justify-content: space-around;
}

input.pesquisa { /*Barra de pesquisa*/
    font-size: 18px;
    background-color: white;
    background-image: url("../imagens/Header/Lupa.png");
    background-position: 380px 9px; 
    background-size: 2rem;
    background-repeat: no-repeat;
    padding: 12px 55px 12px 20px;
    border: none;
    height: 3.3rem;
    width: 27rem;
    border-radius: 20px;
    font-weight: 500;
  }
  input.pesquisa::placeholder{
    color: #33363F;
    font-size: 1.1rem;
    font-weight: 500;
  }

  input:focus {
    outline: 0;
  }

  img.Logo_header{ /*Bem autoexplicativo*/
    height: 4.5rem;
    margin: .3rem;
    margin-top: .1rem;
  }

  div.links_normais{/*Div com as anchors mostradas no pc*/
    display: flex;
    align-items: center;
  }

  div.link_headerHeader { /*Div que contem icon e textos dos links para outras paginas que ficam dentro do header*/
    display: flex;
    margin-left: 1rem;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  img.link_headerHeader{/*Icon que fica ao lado dos links para outras páginas*/
    width: 2.9rem;
    height: 2.9rem;
    margin-right: .5rem;
  }

  div.textos_pequenos{/*Div que contem ops pequenos textos que ficam ao lado dos icons no header*/
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  p.pequeno{/*Texto pequeno que vão ao lado do icon no header*/
    
    color: white;
  }
  .pequenospan{
    color: white;
    all: unset;
    font-weight: normal;
  }

  p.negrito{
    font-weight: bold;
  }

  img.menuSanduicheHeader{ /*Imagem do icon de menu sanduiche*/
    width: 4rem;
  }
  .login-a {
    color: white;
  }
  button.menuSanduicheHeader{ /*Botão que abre o menu sanduiche*/
    border: none;
    background-color: transparent;
    border-radius: 15px; 
    display: none;
  }
  div.link_sanduicheHeader{ /*Conteudo do menu sanduiche*/
    display: inherit;
  }
  div.menuSanduicheHeader{ /*Div que contem os elementos que contem elementos da classe "link_sanduiche"*/
    display: none;
    overflow: hidden;
    transition-timing-function: ease-in;
    transition-duration: 0.5s;
    height: 0rem;
    width: 100%;
    justify-content: space-evenly;
  }
  
  .open_headerHeader{ /*Classe que serve para tornar o menu sanduiche visivel*/
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    overflow: hidden;
    transition-timing-function: ease-in;
    transition-duration: 0.5s;
    height: 5rem;
  }

  a{
    text-decoration: none;
  }

  img.foto_perfil_header{
    width: 2.9rem;
    height: 2.9rem;
    border-radius: 100%;
    border: 3px solid #F2AF00;
    margin: .5rem;
    background-color: white;
    overflow: hidden;
  }

/*Responsividade*/
.container {
    max-width: 1425px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    justify-content: center;
    display: flex;
  }
  
  /* 2xl */
  @media (max-width: 1536px) {
    .container {
      max-width: 1512px;
    }
  }
  
  /* xl */
  @media (max-width: 1280px) {
    .container {
      max-width: 1360px;
    }

  }
  
  /* lg */
  @media (max-width: 1040px) {
    
    button.menuSanduicheHeader{/*Botão que abre o menu sanduiche*/
      display: block;
    }

    div.links_normais{
      display: none;
    }
  }
  /* md */
  @media (max-width: 768px) {
    .container {
      max-width: 700px;
    }
    input.pesquisa {
      width: 18rem;
      height: 2.8rem;
      font-size: 16px;
      padding: 4px 45px 4px 14px;
      background-position: 245px 5px;
    }
  }
  /* sm */
  @media (max-width: 678px) {
    div.header_normal{ /*Div que contem o conteudo do header de pc*/
      flex-wrap: wrap;
    }
    img.Logo_header{
      margin: 0;
      height: 4rem;
    }
    button.menuSanduicheHeader{ /*Botão que abre o menu sanduiche*/
      border: none;
      background-color: transparent;
      margin: 0;
    }
  }
  
  /* xs */
  @media (max-width: 521px) {
    .container {
      max-width: 100%;
    }
    input.pesquisa {
      width: 16rem;
      height: 2.4rem;
      border-radius: 15px;
      padding: 4px 40px 2px 10px;
      background-position: 220px 4px;
      background-size: 28px 28px;
    }
    img.Logo_header {
      height: 4rem;
      margin: 0 10rem 0 10rem;
    }
    div.header_normal {
      flex-direction: column;
    }
  }
  @media (max-width: 410px){
    div.menuSanduicheHeader{ /*Div que contem os elementos que contem elementos da classe "link_sanduiche"*/
      flex-direction: column;
    }
    .open_headerHeader{ /*Classe que serve para tornar o menu sanduiche visivel*/
      flex-direction: column;
      height: 11rem;
      border-top: solid 2.5px #c08a00;
    }
    div.link_headerHeader { /*Div que contem icon e textos dos links para outras paginas que ficam dentro do header*/
      margin: 0;
      align-items: center;
      justify-content: center;
    }
    img.link_headerHeader{/*Icon que fica ao lado dos links para outras páginas*/
      margin-right: .5rem;
      width: 3.1rem;
      height: 3.1rem;
    }
    p.pequeno {
      font-size: 17px;
    }
    p.negrito {
      font-size: 17px;
    }
  }
  @media (max-width: 383px) {
    input.pesquisa{
      height: 2.6rem;
      width: 16rem;
    }
    input.pesquisa::placeholder{
      font-size: 16px;
    }
  }
  @media (max-width: 319px) {
    input.pesquisa{
      width: 14rem;
    }
  }
   /*Meio termo*/
  @media (max-width: 429px) {
    .container {
      width: 100%;
    }
  
  }

  /*xxs*/
  @media (max-width: 375px) {
    .container {
      width: 100%;
    }
    input[type=text] { /*Barra de pesquisa*/
      background-position: 285px 9px; 
    
    }
  }
  
  