*{/*Zerar valores e aplicar fonte padrão (Roboto)*/
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: none;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

div.corpo{ /*Basicamente so serve para dar cor pro fundo header*/
    width: 100%;
    background-color: #0476D9;
    margin: 0px;
    padding: 0px;
    height: fit-content;
}

div.header{ /*Div que contem o conteudo do header de pc e celular*/
    display: flex;
    flex-direction: column; /*Eu não sei oq eu fiz, tentando deixar o header com o menu sanduiche, mas agr pra ficar normal pra pc precisa disso ;-;*/
    align-items: center;
    justify-content: center;
    width: inherit;
    height: fit-content;
    overflow: hidden;
    transition-timing-function: ease-in;
    transition-duration: 2s;
}

div.header_normal{ /*Div que contem o conteudo do header de pc*/
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}


  img.Logo_header{ /*Bem autoexplicativo*/
    height: 5.5rem;
    margin: .5rem;
  }

  div.links_normais{/*Div com as anchors mostradas no cp*/
    display: flex;
    width: 100%;
    justify-content: space-evenly;
  }

  div.link_header { /*Div que contem icon e textos dos links para outras paginas que ficam dentro do header*/
    display: flex;
    margin-left: 1rem;
    justify-content: center;
    align-items: center;
  }

  img.link_header{/*Icon que fica ao lado dos links para outras páginas*/
    width: 2.9rem;
    height: 2.9rem;
    margin-right: .5rem;
  }

  div.textos_pequenos{/*Div que contem ops pequenos textos que ficam ao lado dos icons no header*/
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  p.pequeno{/*Texto pequeno que vão ao lado do icon no header*/
    font-size: 1.25rem;
    color: white;
    width: min-content;
  }

  p.negrito{
    font-weight: bold;
  }

  img.menuSanduiche{ /*Imagem do icon de menu sanduiche*/
    width: 4rem;
  }

  button.menuSanduiche{ /*Botão que abre o menu sanduiche*/
    border: none;
    background-color: transparent;
    border-radius: 15px; 
    margin-left: 3rem;
    display: none;
  }
  div.link_sanduiche{ /*Conteudo do menu sanduiche*/
    display: inherit;
  }
  div.menuSanduiche{ /*Div que contem os elementos que contem elementos da classe "link_sanduiche"*/
    display: flex;
    overflow: hidden;
    transition-timing-function: ease-in;
    transition-duration: 0.5s;
    height: 0rem;
    width: 100%;
    justify-content: space-evenly;
  }
  
  .open_header{ /*Classe que serve para tornar o menu sanduiche visivel*/
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    padding: 1rem;
    overflow: hidden;
    transition-timing-function: ease-in;
    transition-duration: 0.5s;
    height: 5rem;
  }

  img.foto_gerente{ /*Foto do gerente*/
    border-radius: 100px;
    width: 4rem;
    height: 4rem;
  }

  img.perfil{
    border-radius: 100%;
  }


/*Responsividade*/
.container {
    max-width: 1425px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
  
  /* 2xl */
  @media (max-width: 1536px) {
    .container {
      max-width: 1280px;
    }
  }
  
  /* xl */
  @media (max-width: 1280px) {
    .container {
      max-width: '1024px';
    }

  }
  
  /* lg */
  @media (max-width: 1024px) {
    .container {
      max-width: 768px;
    }
    
    button.menuSanduiche{/*Botão que abre o menu sanduiche*/
      display: block;
    }
    div.links_normais{
      display: none;
    }
    img.foto_gerente{
      display: none;
    }
    div.header{ /*Div que contem o conteudo do header de pc e celular*/
      flex-direction: column;
    }
  
  }
  
  /* md */
  @media (max-width: 768px) {
    .container {
      max-width: 700px;
    }
    #menuSanduiche{ /*Div que contem os elementos que contem elementos da classe "link_sanduiche"*/
      flex-direction: column;
    
    }
    .open_header{ /*Classe que serve para tornar o menu sanduiche visivel*/
      flex-direction: column;
      height: 25rem;
    }
  }

   /* sm */
   @media (max-width: 680px) {
  }
  
  /* sm */
  @media (max-width: 640px) {
    .container {
      max-width: 600px;
    }

    div.header_normal{ /*Div que contem o conteudo do header de pc*/
      flex-direction: row;
      flex-wrap: wrap;
    }
    img.Logo_header{
      margin: 0;
    }
    button.menuSanduiche{ /*Botão que abre o menu sanduiche*/
      border: none;
      background-color: transparent;
      margin: 0;
    }
  }
  
  /* xs */
  @media (max-width: 521px) {
    .container {
      width: 100%;
    }
    button.menuSanduiche{ /*Botão que abre o menu sanduiche*/
      margin-top: 1rem;
    }
    div.menuSanduiche{ /*Div que contem os elementos que contem elementos da classe "link_sanduiche"*/
      flex-direction: column;
    
    }
    
    .open_header{ /*Classe que serve para tornar o menu sanduiche visivel*/
      flex-direction: column;
      height: 25rem;
    }

    div.link_header { /*Div que contem icon e textos dos links para outras paginas que ficam dentro do header*/
      margin: 0;
      margin-top: 1rem;
    }

    img.link_header{/*Icon que fica ao lado dos links para outras páginas*/
      width: 3.5rem;
      height: 3.5rem;
      margin-right: .5rem;
    }
  
  
    p.pequeno{/*Texto pequeno que vão ao lado do icon no header*/
      font-size: 1.2rem;
    }
    
    img.perfil{
      border-radius: 100px;
    }
  }
   /*Meio termo*/
  @media (max-width: 429px) {
    .container {
      width: 100%;
    }
  }