*{/*Zerar valores e aplicar fonte padrão (Roboto)*/
  background-color: none;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0px;  
  padding: 0px;
}

div.produto{/*Div que contem as fotos e a descrição do produto*/
  display: flex;
}

div.detalhes{
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem;
  padding-right: 2rem;
  max-width: 650px;
}

div.imagens_menores{/*Imagens menores do produto*/
  display: flex;
  flex-direction: column;
  margin-right: 1.5rem;
}

img.imagem_menor{/*Imagem menor do produto*/
  width: 7.5rem;
  border-radius: 15px;
  border:#D4D4D4 solid 2px;
  margin-bottom: 1rem;
}

div.imagem_menor{
  position: relative;
}

div.barra_ativo{
  position: absolute;
  height: 7.5rem;
  top: 0px;
}

img.barra_ativo{
  height: 7.75rem;
}

img#dois, img#tres {
  display: none;
}

img.imagem_maior{/*Imagem maior do produto*/
  width: 30rem;
  height: 30rem;
  border-radius: 25px;
  border:#D4D4D4 solid 2px;
}

div.estrela{/*Div que contem as estrelas de avaliações*/
  display: flex;
}

div.avaliacoes_anuncio{/*Div que contem o numero de avialações e estrelas ao lado do nome do produto*/
 display: flex;
 margin-top: 1rem;
 align-items: flex-end;
}

div.avaliacoes{ /*Div que contem o numero de avialações e estrelas*/
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 0;
  margin-left: 4rem;
}

p.avaliacao{ /*Texto que fica ao lado das estrelas de avaliação*/
  color: #F2AF00;
  font-weight: bold;
  font-size: 1.4rem;
  margin: 0;
}

h3.titulo{ /*Nome do produto*/
  font-size: 2.25rem;
  margin: 0;
}

h2.preco{ /*Preço do produto*/
  color: #0476D9;
  margin: 0;
  font-size: 2.75rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

p.descricao{ /*Descrição do produto*/
  font-size: 20px;
  margin-top: 1rem;
  margin: 0;
}

p.quantidade{ /*Literalmente a palavra quantidade em cima do negocio de escolher quantidade*/
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  margin-top: 1rem;
  margin-bottom: .25rem;
}

button.comprar{ /*Botão de comprar*/
  border: none;
  border-radius: 20px;
  background-color: #0476D9;
  padding: .5rem;
  margin-top: 1rem;
}

p.comprar{ /*Texto dentro do botão de comprar*/
  color: white;
  font-size: 1.5rem;
  padding: 0;
  margin: 0;
  font-weight: bold;
}

button.carrinho{ /*Botão de adoiconar ao carrinho*/
  border: none;
  border-radius: 20px;
  background-color: #F2AF00;
  padding: .5rem;
  margin-top: 1rem;
  width: 100%;
}

p.carrinho{ /*Texto dentro do botão de adicioanar ao carrinho*/
  color: black;
  font-size: 1.5rem;
  padding: 0;
  margin: 0;
  font-weight: bold;
}

form.form{
  width: 100%;
}

  /*Css doido para fazer um botão igual o do figma*/
  input[type="number"]{
    -moz-appearance: textfield;
    text-align: center;
    font-size: 2rem;
    border: none;
    background-color: #ffffff;
    color: #202030;
    font-weight: bolder;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}
button.quantidade{
    color: #3264fe;
    background-color: #ffffff;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    font-weight: bolder;
}
#decrement{
    padding: .5rem;
    border-radius: 25px 0 0 25px;
}
#increment{
    padding: .5rem;
    border-radius: 0 25px 25px 0;
}

div.quantidade{
  display: flex;
  border-radius: 10px;
  border: #D4D4D4 2px solid;
  width: fit-content;
}
/*Fim do CSS doido*/

/*Inicio CSS avalições*/
h2.avaliacoes{
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  justify-content: center;
  font-size: 2.5rem;
}

div.avaliacao{
  display: flex;
  width: fit-content;
  padding: 1rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  justify-content: center;

}

div.estatisticas{/*Parte que mostra a porcentagem de cada tipo de avaliação*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: #D4D4D4 solid 3px;
  border-radius: 15px;
  height: fit-content;
  padding: 1rem;
}

h3.estatisticas{ /*Titulo "Estatisticas"*/
  margin:0;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

div.cinco, div.quatro, div.tres, div.dois, div.um{ /*Dic que inculuem texto de procentagem e de número de estrelas, além do grafico referente a cada um*/
  display: flex;
  max-height: 2rem;
  align-items: center;
  margin-bottom: 1rem;
}

p.numero_estrelas, p.porcentagem{ /*Textos do número de estrelas e de porcentagem*/
  color: #F2AF00;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
}

div.amarelo{ /*Div vazio que compões a parte amarela do gráfico de barra*/
  color: #F2AF00;
  border: solid 3px #F2AF00;
  margin-left: 1rem;
  height: 1.25rem;
  border-radius: 15px 0px 0px 15px;
  background-color: #F2AF00;
}

div.branco{ /*Div vazio que compões a parte branca do gráfico de barra*/
  border: solid 3px #F2AF00;
  margin-right: 1rem;
  height: 1.25rem;
  border-radius: 0px 15px 15px 0px;
}

div.card_avaliacao{ /*Div que contem as avaliações em si*/
  margin: 0;
  display: flex;
  border: #D4D4D4 solid 3px;
  border-radius: 15px;
  padding: .75rem;
  margin-bottom: 2rem;
}

div.detalhes_avaliacoes{/*Div que contem todos os cards de avaliação*/
  padding: 0;
  margin: 0;
  margin-left: 1rem;
}

img.primeira_estrela{ /*Primeira estrela ao lado do nome do usuário*/
  margin-left: 1rem;
}


div.avaliacoes{ /*Div com os cards de avaliações*/
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 0;
  margin-left: 4rem;
}

div.nome_avaliacao{/*Nome do perfil do avaliador*/
  display: flex;
  align-items: center;
  margin-top: 1.5rem;
}

img.foto_perfil{ /*Foto de perfil do usuario no card de avalição*/
  width: 5.75rem;
  height: 5.75rem;
  border: 1px solid black;
  border-radius: 50px;
}

h5.nome{ /*Nome do perfil*/
  font-size: 2.25rem;
  margin: 0;
}

p.titulo_avaliacao{/*Titulo da avaliação*/
  font-weight: bold;
  font-size: 2rem;
  margin: 0;
  margin-top: .75rem;
}

p.texto_avaliacao{/*O texto da avalição*/
  font-size: 1.4rem;
  margin: 0;
  margin-top: .25rem;
}

div.estrelas{ /*Div que contem as estrelas das avaliações*/
  display: flex;
  align-items: center;
  justify-content: center;
}
p.avaliacao{
  display: flex;
  align-items: center;
}

div.add_ava{
  display: flex;
  flex-direction: column;
  background-color: #0476D9;
  border-radius: 15px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 2rem ;
}
div.ava_container{
  width: 80%;
}
div.titulo_ava{ /*Div onde ficam os imputs de titulo e número de estrelas da avaliação*/
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 2rem;
}
input.titulo_ava{ /*Input na qual o cliente passará o titulo da */
  border: #D4D4D4 solid 3px;
  border-radius: 15px;
  padding: .75rem;
  height: 2.5rem;
  width: 30rem;
  margin-right: 2rem;
  font-size: 1.15rem;
}
select.num_estrelas{ /*Select do número de estrlas da avaliação*/
  border: #D4D4D4 solid 3px;
  border-radius: 15px;
  padding: .75rem;
  height: 4.3rem;
  width: 10rem;
  font-size: 1.15rem;
}

input:focus {
  outline: 0;
}

select:focus {
  outline: 0;
}

input.comentario{ /*Input na qual o cliente passará o titulo da */
  border: #D4D4D4 solid 3px;
  border-radius: 15px;
  padding: .75rem;
  height: 2.5rem;
  width: 100%;
  font-size: 1.15rem;
  height: 10rem;
  margin-bottom: 3rem;
  align-items: start;
}

h2.add_ava{/*Texto de adicionar avaliação*/
  width: 100%;
  text-align: center;
  font-size: 2.5rem;
  color: white;
  margin: 1rem;
}

div.comentario{ /*Div com o input de adicionar comentario*/
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
h3.titulo_input_ava{ /*Titulos que ficam em ciam dos inputs*/
  color: white;
  width: 100%;
  font-size: 1.5rem;
}

div.botao_ava{ /*Div que contem o botão de adicionar comentario*/
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

img.add_ava_button{ /*Imagem de + que fica no botão*/
  width: 3rem;
  margin-right: 1rem;
}
button.add_ava{
  border: none;
  border-radius: 10px;
  width: 16rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: #F2AF00;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                
}
p.add_ava_button{
  font-weight: bold;
  font-size: 1rem;
}
/*Fim CSS avaliações*/


/*Inicio CSS Carrossel*/
section.slider_carrossel{
  display: none;
}

.swiper-pagination-bullet { /*Muda cor e tamanho das bolinhas de paginação do carrossel*/
  opacity: 0.25;
  background-color: black;
  width: .75rem;
  height: .75rem;
  margin: .5rem;
}

.swiper-pagination-bullet-active { /*Muda cor da bolinha ativa*/
  background-color: #0476D9;
  opacity: 1;
}
/*Fim CSS do Carrossel*/


/*Inicio CSS product slider 1*/
div.product{ /* Div dos produtos*/
  margin: 2rem;
  }
  
  div.slider{ /* Div que contem o slider*/
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  }
  
  div.seta{ /*setinhas*/
  position: relative;
  }
  
  h1.titulo{
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3.5rem;
  font-size: 2.5rem;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  img.carrossel{
  justify-self: center;
  }
  div.carrossel{
    width:65%;
    object-fit: contain;
  }
  /*Fim CSS product slider*/
  


/*Responsividade*/
.container {
  max-width: 1425px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  justify-content: center;
  display: flex;
  flex-direction: column;
  position: relative;
}

/* 2xl */
@media (max-width: 1536px) {
  .container {
    max-width: 1280px;
  }
}

/* xl */
@media (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }

  div.titulo_ava{ /*Div onde ficam os imputs de titulo e número de estrelas da avaliação*/
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 2rem;
    flex-direction: column;
  }
  input.titulo_ava{ /*Input na qual o cliente passará o titulo da */
    margin-bottom: 3rem;
  }
}

/* lg */
@media (max-width: 1024px) {
  .container {
    max-width: 768px;
  }
  div.produto{
    flex-direction: column;
  }
  section.slider_carrossel{
    display: flex;
  }
  div.imagens_menores{
    display: none;
  }
  img#imagem_maior{
    display: none;
  }
  div.estatisticas{
    display: none;
  }
  .swiper-button-prev {
    display: none;
  
  }
  .swiper-button-next {
    display: none;
  }
  div.card_avaliacao{ /*Div que contem as avaliações em si*/
    width: 95%;
    margin: 0px;
    margin-top: 2rem;
  }
  div.avaliacao{
    padding: 0px;
  }
  div.avaliacoes{
    margin: 0px;
  }
}

/* md */
@media (max-width: 790px) {
  .container {
    max-width: 700px;
  }
  div.carrossel{
    width:70%;
  }
}

/* md */
@media (max-width: 730px) {
  .container {
    max-width: 700px;
  }
  div.carrossel{
    width:80%;
  }
  div.ava_container{
    width: 100%;
  }
  input.titulo_ava{ /*Input na qual o cliente passará o titulo da */
    width: 90%;
  }
  input.comentario{ /*Input na qual o cliente passará o titulo da */
    width:90%;
  }
  h2.add_ava{/*Texto de adicionar avaliação*/
    width: 90%;
  }
  
}

/* sm */
@media (max-width: 640px) {
  .container {
    max-width: 600px;
  }

  div.carrossel{
    width:90%;
  }

  div.nome_avaliacao{/*Div com o nome do usuario e as estrelas*/
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  img.primeira_estrela{
    margin: 0px;
  }
  div.estrelas{
    margin-top: .5rem;
  }
  h5.nome{ /*Nome do perfil*/
    font-size: 1.75rem;
    margin: 0;
  }
  
  p.titulo_avaliacao{/*Titulo da avaliação*/
    font-size: 1.5rem;
  }
  
  p.texto_avaliacao{/*O texto da avalição*/
    font-size: 1.3rem;
  }
  input.titulo_ava{ /*Input na qual o cliente passará o titulo da */
    margin-right: 0rem;
  }
}

@media (max-width: 580px) {
  .container {
    max-width: 600px;
  }

  div.carrossel{
    width:95%;
  }
  img.imagem_maior{/*Imagem maior do produto*/
    width: 25rem;
    height: 25rem;
  }
  h2.add_ava{/*Texto de adicionar avaliação*/
    font-size: 1.75rem;
  }
}

/* xs */
@media (max-width: 475px) {
  .container {
    width: 100%;
  }
  div.carrossel{
    width:95%;
  }
  img.imagem_maior{/*Imagem maior do produto*/
    width: 21rem;
    height: 21rem;
  }
  p.texto_avaliacao{/*O texto da avalição*/
    font-size: 1.1rem;
  }
  div.detalhes{
    padding: 0px;
    padding: 1rem;
}
}
  /* xxs */
@media (max-width: 375px) {
  .container {
    width: 100%;
  }
  div.carrossel{
    width:95%;
  }
  img.imagem_maior{/*Imagem maior do produto*/
    width: 17.5rem;
    height: 17.5rem;
  }
  h3.titulo{ /*Nome do produto*/
    font-size: 1.75rem;
    margin: 0;
  }
  
  h2.preco{ /*Preço do produto*/
    color: #0476D9;
    margin: 0;
    font-size: 2.25rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  
  p.descricao{ /*Descrição do produto*/
    font-size: 15px;
    margin-top: 1rem;
    margin: 0;
  }
  
  p.quantidade{ /*Literalmente a palavra quantidade em cima do negocio de escolher quantidade*/
    font-size: 19px;
    font-weight: bold;
    margin: 0;
    margin-top: 1rem;
    margin-bottom: .25rem;
  }
  h2.add_ava{/*Texto de adicionar avaliação*/
    font-size: 1.7rem;
  }
}











